<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid mt-5 about-style" id="about">
        <div class="row">
            <div class="col-md-10 col-12
            mx-auto">
                <h1 class="text-center main-heading text-danger">About Us</h1>
                <p class="text-center sub-heading">Grow Your MERN Stack Project With Us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="image/about.png" alt="about_image" height="300px" width="100%">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 text-justify">
                        <p>MERN stack is a comprehensive javascript environment, it provide a scalable, consistent,
                            open source experience that encompasses the entire app development process and is suitable
                            for coders of varying skill levels. It allows developers to use a single  language and a consistent toolset to construct both the front and back  ends of their applications, an arrangement that reduces development time and complexity.</p>
                           <button class="btn btn-primary"><a href="/" class="text-white">Read More</a></button>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>