<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <div class="container-fluid mt-5 service-style" id="about">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading text-danger">Our Service</h1>
                <p class="text-center sub-heading">Grow Your MERN Stack Project With</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="image/html.png" alt="service_img">
                                </div>
                                <h4>HTML</h4>
                                <p>HTML(Hyper Text Markup Language)is the code that is used to structure a web pages</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services speedup">
                                <div class="icon">
                                    <img src="image/css.png" alt="services_img">
                                </div>
                                <h4>CSS</h4>
                                <p>CSS(Cascading Style Sheet) is used to style and layout web pages and Contents</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy ">
                                <div class="icon">
                                    <img src="image/js.png" alt="services_img">
                                </div>
                                <h4>Javascript</h4>
                                <p>Javascript (js) is a cross-platform,used by developers to make web pages interactive.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="image/bootstrap.png" alt="services_img">
                                </div>
                                <h4>Bootstrap</h4>
                                <p>Bootstrap is a free, open source front-end development framework for the creation of
                                    website</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">]
                        <div class="box">
                            <div class="our-services speedup">
                                <div class="icon">
                                    <img src="image/jquery.png" alt="services_img">
                                </div>
                                <h4>Jquery</h4>
                                <p>Jquery is a lightweight, "write less, do more". The purpose of jquery is to make it
                                    much easier to use.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy">
                                <div class="icon">
                                    <img src="image/react.jpg" alt="services_img">
                                </div>
                                <h4>React js</h4>
                                <p>Reactjs primary goal is to create user Interfaces which enhance the speed of
                                    programs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="image/node.jpg" alt="services_img">
                                </div>
                                <h4>Node js</h4>
                                <p>Node js is used for server-side programming, and primarily deployed for
                                    npon-blocking,event-driven servers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services speedup">
                                <div class="icon">
                                    <img src="image/express.png" alt="services_img">
                                </div>
                                <h4>Express Js</h4>
                                <p>Express is a node js web application framework that provides broad features for
                                    building web and mobile applications. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy">
                                <div class="icon">
                                    <img src="image/mongodb.png" alt="services_img">
                                </div>
                                <h4>Mongo DB</h4>
                                <p>MongoDB is built on a scale-out architecture that has become popular with developer.
                                    it uses a JSON-like format</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>