html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

li,
p,
a {
    font-size: 1.6rem;

}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

.row {
    margin: 0;
}

.navbar_style {
    background-color: #f8f9fa;
    box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

#logo {
    display: initial;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
    color: #fd5c63;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fd5c63;
}


.hero-text h1 {
    font-size: 3.0rem;
    line-height: 1.3;
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
    letter-spacing: 0.5px;
    color: #2f2f2f;
    text-transform: uppercase;
}

.hero-text h1:nth-child(2) {
    font-weight: bold;
    color: #5222d0;
}

.hero-text p,
.our-services p,
.about-style p,
.gallery-style p {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #777676;
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.hero-text p span {
    font-weight: bold;
    color: #000;
}

.btn-style {
    padding: 12px 10px;
    width: 40%;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #ec612b;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

#same {
    background-image: url("../image/same.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 40vh;
    height: 60vh;
}

.about-style .main-heading,
.service-style .main-heading,
.gallery-style .main-heading,
.contact-style .main-heading {
    font-size: 4.5rem;
    color: #fd5c63;
    letter-spacing: 1px;
    font-weight: bold;
}

.about-style .sub-heading,
.service-style .sub-heading,
.gallery-style .sub-heading,
.contact-style .sub-heading {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 2;
    color: #333;
    font-weight: 500;
}

.about-style {
    margin-bottom: 10rem;
}

.service-style {
    margin-bottom: 10rem;
}

.gallery-style {
    margin-bottom: 10rem;
}

.contact-style {
    margin-bottom: 10rem;
}

.box {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 30px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center;
}

.our-services h4 {
    font-size: 3rem;
    font-weight: bold;
}

.our-services p {
    font-size: 1.5rem;
    text-align: center;
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff;
}

.speedup:hover {
    box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
}

.privacy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.icon img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.card img {
    border-radius: 25px;

}

.card {
    border-radius: 25px;
}

.lable{
    font-size: 18px;
}

.contact-style input {
    padding: 20px !important;
    font-size: 15px;
}

.contact-style input::placeholder {
    font-size: 2rem;
}

.footer_style {
    font-size: 2rem;
}